#active-game{
    text-align: center;
    margin: 2rem 0 5rem 0;
    /* display: none; */
}
#game-over{
    width: 90%;
    max-width: 40rem;
    padding: 1rem 2rem;
    margin: auto;
    background-color: #00142F;
    box-shadow: 0 2px 8px #00142F;
    color: white;
    display: none;
}
#active-player-name{
    font-weight: bold;
    color: #00142F;
}
#game-board{
    margin: 1rem 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    justify-content: center;
    gap: 0.5rem;
}
#game-board li{
    background-color: #00142F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
#game-board li:hover{
    background-color: silver;
}
#game-board li.disabled{
    cursor: default;
    background-color: #00142F;
    color: white;

}